@charset "UTF-8";

/* Common */
html {
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0;
  letter-spacing: 0.1em;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
 }

h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

a { 
  color:#000;
  text-decoration: none; 
}

a:hover { 
  transition: all .6s ease;
}

.content-wrapper {
  width: 95%;
  margin: 0 auto;
}

section h2 {
  font-size: 2rem;
}
/* Common終了 */

/* ヘッダ */
.header {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack:justify;
  -webkit-justify-content: space-between;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 1;
}

.header h1 {
  margin: 0 0 0 25px;	
  padding: 0 10px;
  font-size: 2vw;
  color: #000;
  background:rgba(255,228,196,0.5);
}

.header nav ul {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

/* ヘッダ(ハンバーガー) */
#hamburger nav ul{
  margin-right: 160px;
}

#hamburger nav ul li{
display:inline-block;
font-size: 16px;
margin-left: 55px;
padding-bottom: 13px;
}

#hamburger nav ul li a{
color: #fff;
}

#hamburger .fas {
margin-right: 7px;
}
/* ヘッダ(ハンバーガー)終了 */
/* ヘッダ終了 */

/* メインビジュアル */
.mainvisual {
  position: relative;
} 

.mainvisual img {
  height: 800px;
  object-fit: cover;
  object-position: 20% 50%;
}

.mainvisual h2 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 0;
  font-size: 4vw;
  color: #000;

  background:rgba(255,255,255,0.5);
  padding-left: 40px;
}
/* メインビジュアル終了 */

/* 会社概要 */
.about {
  margin-top: 3em;
}

.about h2 {
  margin-bottom: 50px;
  text-align: center;
 }
 
.about .contents {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
 
.about .contents figure {
  width: 50%;
}
 
.about .content {
  width: 48%;
}
/* 会社概要終了 */

/* 事業内容 */
.work {
  width: 100%;
  padding-top:2em;
  position: relative;
}

.work::before {
  content: '';
  background:rgba(255,228,196,0.5);;
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.work h2 {
  margin-bottom: 1em;
  text-align: center;
}

.work ul {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  margin: 0 auto;
}

.work ul li {
  width: 400px;
}
 
.work ul li h3 {
  text-align: center;
  color: #000;
}

.work ul li p {
  color: #000;
}

.work ul li figure {
  margin: 0;
}
/* 事業内容終了 */

/* ニュース */
.news .content-wrapper{
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 180px;
}
  
.news h2 {
  margin-top: 20px;
  text-align: center;
}
  
.news li {
  border-bottom: dotted 1px #949494;
  padding-top: 20px;
  padding-bottom: 20px;
}
  
.news li a {
  color:#333333;
}
  
.news li a:hover{
  opacity: 0.6;
}
  
.news li time {
  font-size: 0.75em;
  color: #949494;
  padding-right: 0px;
  margin-right: 80px;
}
/* ニュース終了 */

/* 採用情報 */
.recruit {
  position: relative;
}

.recruit-img img{
  width: 80%;
  height: 400px;
  object-fit: cover;
  margin-right:20%;

}

.recruit-img::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  top:0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
}

.recruit h2 {
  position: absolute;
  top: 68%;
  right: 45%;
  width: 400px;
  height: 60px;
  color:#000;
  background-color: rgba(255,255,255,0.6);
  line-height: 60px;
  text-align: center;
}

.bg2 {
  position: absolute;
  background:rgba(255,228,196,0.5);;
  height: 400px;
  width: 45%;
  top: -20%;
  right: 0;
  z-index: -1;
}
/* 採用情報終了 */

/* フッタ */
.footer {
  padding-top: 120px;
  padding-bottom: 0;
}

.footer .high {
  border-bottom: 1px solid #333;
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack:justify;
  -webkit-justify-content: space-between;
  justify-content:space-between;
  align-items: flex-end;
}

.footer .high h2 {
  font-size: 1.8rem;
}

.footer .high ul {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  margin-bottom: 15px;
}

.footer .high li a {
  color: #333;
  padding: 0 25px;
}

.footer .high li a:hover {
  opacity: 0.6;
}

.footer .low {
  padding-top: 25px;
  color: #333;
}

.footer .low span {
  padding-left: 1em;
}

.footer .low p {
  color: #333;
  text-align: center;
  font-size: 1.3rem;
}
/* フッタ終了 */


@media screen and (max-width: 1199px) {
  /* ヘッダ */
  .header {
    height: 50px;
  }

  .header h1 {
    font-size: 4vw;
    margin-top:8px;
  }

  /* ヘッダ(ハンバーガー) */
  #hamburger nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 100px;
    background:#deb887;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2;
  }

  #hamburger nav ul {
    display:block;
  }

  #hamburger nav ul li {
    width: 300px;
  }
 
  #hamburger nav ul li a {
    text-decoration: none;
    color: #000;
  }
 
  #hamburger .btn-gnavi {
    position: fixed;
    top: 0;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms
  }
 
  #hamburger .btn-gnavi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms
  }
 
  #hamburger .btn-gnavi span:nth-child(1) {
    top: 0
  }
 
  #hamburger .btn-gnavi span:nth-child(2) {
    top: 10px
  }
 
  #hamburger .btn-gnavi span:nth-child(3) {
    top: 20px
  }
 
  #hamburger .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }
 
  #hamburger .btn-gnavi.open span {
    background: #fff
  }
 
  #hamburger .btn-gnavi.open span {
    width: 24px;
  }

  #hamburger .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 6px #666;
  }
 
  #hamburger .contents section:nth-child(odd) p {
    left: 10%
  }
 
  #hamburger .contents section:nth-child(even) p {
    right: 10%
  }
  /* ヘッダ(ハンバーガー)終了 */
  /* ヘッダ終了 */
  
  /* メインビジュアル */
  .mainvisual img {
    height: 300px;
  }

  .mainvisual h2 {
    padding-left: 5px;
  }
  /* メインビジュアル終了 */

  /* 会社概要 */
  .about {
    margin-top: 1em;
  }

  .about .contents {
    display: block;
    width: 95%;
    margin: 0 auto;
  }

  .about .contents {
    text-align: center;
  }

  .about .contents figure,
  .about .contents .content {
    margin: 0 auto;
    width: 95%;
  }

  .about h2 {
    text-align: center;
    font-size: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin:0;
  }

  .about p {
    padding:0;
    margin:0;
    font-size: 0.8em;
    text-align: left;
  }
  /* 会社概要終了 */

  /* 事業内容 */
  .work::before{
    display: none;
  }

  .work ul {
    display: block;
    width: 100%;
  }

  .work ul li {
    width: 95%;
    margin: 0 auto;
  }

  .work ul li p {
    font-size: 0.8em;
  }
  /* 事業内容終了 */

  /* ニュース */
  .news .content-wrapper {
    width: 100%;
    margin-bottom:20px;
  }

  .news ul{
    display: block;
  }

  .news ul li {
    width: 95%;
    margin: 0 auto;
  }

  .news ul li time {
    display: block;
  }

  .news ul li p {
    font-size: 0.8em;
  }
  /* ニュース終了 */

  /* 採用情報 */
  /* recruitの疑似要素消す */
  .bg2 {
    display: none;
  }

  .recruit {
    width: 95%;
    margin: 0 auto;
  } 
  .recruit .recruit-img img{
    width: 100%;
    margin: 0 auto;
    height: 50%;
  }

  .recruit-img::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
  }

  .recruit h2 {
    position: absolute;
    top: 68%;
    right: 0%;
    width: 100%;
    height: 60px;
    color:#000;
    background-color: rgba(255,255,255,0.6);
    line-height: 60px;
    text-align: center;
  }
  /* 採用情報終了 */

  /* フッタ */
  .footer {
    padding-top: 20px;
  }

  .footer .high {
    display: block;
  }

  .footer .high h2{
    font-size: 1.2em;
    text-align: center;
  }

  .footer .high ul {
    margin-bottom: 5px;
    display: block;
    border-bottom-style: ridge;
    border-right-style:ridge;
    border-left-style:ridge;
  }

  .footer .high li {
    width: 100%;
    margin: 0;
    font-size: 1.0em;
    border-top-style: ridge;
    background-color: rgba(255,228,196,0.5)
  }

  .footer .high li a {
    display: block;
    text-align: center;
    padding: 0;
  }

  .footer .high h1 {
    text-align: center;
  }

  .low {
    text-align: center;
  }

  .footer .low p {
    font-size: 1.0em;
  }
  /* フッタ終了 */
}




