@media screen and (max-width: 769px) {

  .category-detail-content {
    height: 650px;
  }

  .category-detail-txts {
    height: 600px;
  }

  .category-detail-content:nth-child(even) .category-detail-content {
    height: 650px;
  }

  .category-detail-content:nth-child(even) .category-detail-txts {
    height: 600px;
  }
}