body {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  color: #333;
  box-sizing: border-box;
}

h1 {
  /* font-weight: bold;
  font-size: 24px; */
}

h2 {
  font-weight: bold;
  font-size: 34px;
  line-height: 46px;
}

h3 {
  /* font-weight: bold;
  font-size: 28px;
  line-height: 40px; */
}

h4 {
  /* font-weight: bold;
  font-size: 24px;
  line-height: 48px; */
}

p {
  /* font-weight: bold;
  font-size: 16px;
  line-height: 26px; */
}

ul,ol,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

a {
  text-decoration: none;
  color:#000;
}

.vertical {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.rounded-btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding:10px 20px;
  width: 150px;
  max-width: 100%;
  background-color: #978F10;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 1.125rem;
  color:#fff;
  transition: 0.25s;

  /* 本来関係ないけど見やすいように */
  /* margin:0.5rem 0.5rem 0.5rem 550px; */
  margin: 0.5rem 1.5rem;
}

.rounded-btn:focus,
.rounded-btn:hover {
  background-color: #fff;
  color: #978F10;
  border-color: currentColor;
}

/* セクションの見出し共通 */
.section-logo {
  width: 40px;
  height: 40px;
  display:inline-block;
  margin: 0 auto;
  margin-top: 60px;
}

.section-top {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 66px;
  text-align: center;
}
/* セクションの見出し共通終わり */

/* PCではハンバーガーボタン非表示 */
#js-hamburger {
  display: none;
}

.header {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index:2;
}

.header-wrapper {
  max-width:1920px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}

.header .header-logo {
  width: 50px;
  height: 50px;
}

.header .header-title {
  margin: auto 0;
  margin-left:10px;
  color:#fff;
  height: 70px;
}

.header h1 {
  height: 70px;
  width: 20%;
  min-width: 210px;
}

.header h1 a {
  display: flex;
  padding: 10px;
}

.header #js-global-menu {
  width: 80%;
  height: 70px;
}

.header #js-global-menu nav {
  width: 100%;
  height: 100%;
}

.header #js-global-menu nav .globalnavi-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.header #js-global-menu nav .globalnavi-wrapper .globalnavi {
  display: flex;
  justify-content: space-between;
  min-width: 150px;
}

.header #js-global-menu nav .globalnavi-wrapper .globalnavi li {
  margin: auto 0;
  margin-left: 30px;
  color:#fff;
}

.header #js-global-menu nav .globalnavi-wrapper .globalnavi li a{
  color:#fff;
}

.header #js-global-menu nav ul li a .fa-calendar-check {
  height: 15px;
  margin: 5px;
}

.mainvisual {
  position: relative;
  height: 100vh;
  max-height: 1080px;
}

.mainvisual .bx-wrapper {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.mainvisual .bx-wrapper img {
  height: 100vh;
  max-height: 1080px;
  width: 100%;

}

.zoom_slider > li[aria-hidden="false"] {
  animation: anime_zoom 6s linear;
}
.zoom_slider > li[aria-hidden="true"] {
  transform: scale(1.2);
}

@keyframes anime_zoom {
  0% {
      transform: scale(1.0);
  }
  100% {
      transform: scale(1.2);
  }
}

.mainvisual-catchcopy {
  position: absolute;
  z-index: 2;
  color: #fff;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 22px;
  line-height: 51px;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;

  width:100px;
  height: 500px;

  top: 300px;
  right: 25%;
}

.concept {
  height: 681px;
  background-image: url("../images/bg.jpg");
  position: relative;
}

.concept .concept-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;

  margin: 0 auto;
}

.concept-title {
  font-size: 28px;
  letter-spacing: 17px;
  line-height: 53px;

  margin-top: 64px;
  font-weight: bold;
  /* text-align: right; */
}

.concept-txt {
  font-size: 18px;
  letter-spacing: 6px;
  line-height: 33px;

  margin-top: 155px;
}

.concept-txt span {
  text-combine-upright: all;
  letter-spacing: 0;
}

.concept-sign {
  font-size: 22px;
  letter-spacing: 6px;
  line-height: 33px;

  margin-top: 520px;
}

.detail {
  height: 1600px;
}

.detail .contents-wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.detail .contents-wrapper .contents .content {
  display: flex;
  margin-top: 108px;
}

.detail .contents-wrapper .contents .content figure img{
  width: 45rem;
  max-height: 450px;
}

.detail .contents-wrapper .contents .content .detail-txts{
 margin-left: 100px;
 margin-top: 12px;
}

.detail .contents-wrapper .contents .content .detail-txts .detail-heading {
  font-size: 36px;
  line-height: 56px;
  font-weight: bold;
 }

 .detail .contents-wrapper .contents .content .detail-txts .detail-txt {
  margin-top: 55px;
  font-size: 16px;
  line-height: 32px;
 }

 .detail .contents-wrapper .contents .content .detail-txts .detail-button {
  margin-top: 55px;
  width: 200px;
  height: 56px;

  font-size: 16px;
  background-color: #fff;
  border-style: 1px solid #000;
 }

 .detail .contents-wrapper .contents .content:nth-child(even){
  flex-direction: row-reverse;
}

.detail .contents-wrapper .contents .content:nth-child(even) .detail-txts{
  margin-left: 0;
  margin-right: 200px;
}

.plan {
  height: 775px;
  background-image: url("../images/bg02.jpg");
  background-size:cover;
  background-position: center center;
}

.plan .contents-wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

.plan .contents-wrapper .contents {
  display: flex;
  justify-content: space-between;
}

.plan .contents-wrapper .contents .content {
  width: 331px;
}

.plan .contents-wrapper .contents .content img {
  height: 210px;
  width: 100%;
}

.plan .contents-wrapper .contents .content .plan-title {
  font-size: 20px;
  line-height: 32px;
  margin-top: 32px;
  font-weight: bold;
}

.plan .contents-wrapper .contents .content .plan-txt {
  font-size: 16px;
  line-height: 32px;
  margin-top: 36px;
  font-weight: bold;
}

.news {
  height: 757px;
}

.news .contents-wrapper .news-tabs {
  display: flex;
  width: 200px;
  margin: 0 auto;

  margin-bottom: 49px;
}

.news .contents-wrapper .news-tabs .tab{
  width: 100px;
  text-align: center;
}

.news .contents-wrapper .news-contents-sales {
  max-width: 1180px;
  margin: 0 auto;
}

.news .contents-wrapper .news-contents-sales .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  width:100%;
  margin: 0 auto;
}

.news .contents-wrapper .news-contents-sales .container .card {
  width: 570px;
  height: 130px;
  background-color:#f6f6f6;

  margin-bottom:20px;
}

/* お知らせのカード用 */
.card {
  display: flex;
  padding: 15px 10px;
}

.card:hover,
.card:focus {
  opacity: 0.6;
  transition: .3s;
}

.card__img-wrapper {
  width: 100px;
  height: 100px;
}

.card__body {
  margin-left: 30px;
}

.card__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card__time {
  font-size: 14px;
}

.card__txt {
  font-size: 14px;
  margin-top: 5px;
}
/* お知らせのカード用終了 */



@media screen and (max-width: 769px) {

#js-hamburger {
  display: block;
}

.button {
  display: inline-block;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hamburger {
  position: fixed;
  top: 16px;
  right: 20px;
  z-index: 5;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #333;
  box-shadow: 0 0 2rem transparent;
  outline: none;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}

.hamburger:hover,
.hamburger:focus {  
  box-shadow: 0 0 .5rem rgba(161, 161, 161, 0.5);
}

.hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 18px;
  height: 2px;
  background-color: #888;
  -webkit-transition: inherit;
          transition: inherit;
}
          
.hamburger__line::before,
.hamburger__line::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #888;
    content: '';
    -webkit-transition: inherit;
            transition: inherit;
}

.hamburger__line::before {
  top: -5px;
}
.hamburger__line::after {
  top: 5px;
}

.drawer-background {
  position: fixed;
  z-index: 3;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #000;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.is-drawerActive .sp-global-menu{
    transform: translateX(0px);
  transition: 0.3s;
  }

.is-drawerActive .drawer-background {
  visibility: visible;
  opacity: 0.8;
  transition: 0.3s;
}

.hamburger[aria-expanded="true"] {
  border: 1px solid #fff!important;  
}

.hamburger[aria-expanded="true"] .hamburger__line {
  background-color: transparent;
}

.hamburger[aria-expanded="true"] .hamburger__line::after {
  top: 0;
  background-color: #fff;
}

.hamburger[aria-expanded="true"] .hamburger__line::before {
  top: 0;
  background-color: #fff;
}

.hamburger[aria-expanded="true"] .hamburger__line::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger[aria-expanded="true"] .hamburger__line::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sp-global-menu {
  position: fixed;
  z-index: 4;
  width: 280px;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #000;
  color: #fff;
  transform: translateX(280px);
  transition: 0.3s;
}
}