/* セクションの見出し共通 */
.section-logo {
  width: 40px;
  height: 40px;
  display:inline-block;
  margin: 0 auto;
  margin-top: 60px;
}

.section-top {
  font-size: 36px;
  /* margin-top: 20px; */
  margin-bottom: 66px;
  text-align: center;
}
/* セクションの見出し共通終わり */

/* メインビジュアル開始 */
.mainvisual {
  position: relative;
  height: 100vh;
  max-height: 1080px;
}

.mainvisual .bx-wrapper {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.mainvisual .bx-wrapper img {
  height: 100vh;
  max-height: 1080px;
  width: 100%;
}

.zoom_slider > li[aria-hidden="false"] {
  animation: anime_zoom 6s linear;
}
.zoom_slider > li[aria-hidden="true"] {
  transform: scale(1.2);
}

@keyframes anime_zoom {
  0% {
      transform: scale(1.0);
  }
  100% {
      transform: scale(1.2);
  }
}

.mainvisual-title {
  position: absolute;
  z-index: 2;
  color: #fff;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 22px;
  line-height: 51px;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;

  width:100px;
  height: 500px;

  top: 300px;
  right: 25%;
}
/* メインビジュアル終了*/

/* コンセプト開始 */
.concept {
  height: 681px;
  background-image: url("../images/bg.jpg");
  position: relative;
}

.concept .contents-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 900px;

  margin: 0 auto;
}

.concept-title {
  font-size: 28px;
  letter-spacing: 17px;
  line-height: 53px;

  margin-top: 64px;
  font-weight: bold;
  /* text-align: right; */
}

.concept-txt {
  font-size: 18px;
  letter-spacing: 6px;
  line-height: 33px;

  margin-top: 155px;
}

.concept-txt span {
  text-combine-upright: all;
  letter-spacing: 0;
}

.concept-sign {
  font-size: 22px;
  letter-spacing: 6px;
  line-height: 33px;

  margin-top: 520px;
}
/* コンセプト終了 */

/* サービス詳細開始 */
.detail {
  /* height: 1600px; */
}

.detail .contents-wrapper {
  max-width: 1180px;
  margin: 0 auto;
  margin-top:108px;
}

.detail-content {
  display: flex;
  margin-bottom: 108px;
}

.detail-content figure img{
  max-height: 450px;
  min-height: 425px;
  object-fit: cover;
}

.detail-button:hover,
.detail-button:focus {
  background-color: #000;
  color:#fff;
  transition: .3s;
  padding: 3px 10px;
}

.detail-content:nth-child(even){
  flex-direction: row-reverse;
}

.detail-content:nth-child(even) .detail-txts{
  margin-left: 0;
  margin-right: 100px;
}

.detail-txts{
 margin-left: 70px;
 margin-top: 12px;
 min-width: 470px;
}

.detail-heading {
  font-size: 36px;
  line-height: 56px;
  font-weight: bold;
}

.detail-txt {
  margin-top: 55px;
  font-size: 16px;
  line-height: 32px;
}

.detail-button {
  margin-top: 55px;
  width: 200px;
  height: 56px;

  font-size: 16px;
  background-color: #fff;
  border: 1px solid #000;
}

/* サービス詳細終了 */

/* おすすめプラン開始 */
.plan {
  /* height: 775px; */
  background-image: url("../images/bg02.jpg");
  background-size:cover;
  background-position: center center;
}

.plan .contents-wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

.plan-contents {
  display: flex;
  justify-content: space-between;
}

.plan-card {
  width: 331px;
}

.plan-card img {
  height: 210px;
  width: 100%;
}

.plan-title {
  font-size: 20px;
  line-height: 32px;
  margin-top: 32px;
  font-weight: bold;
}

.plan-txt {
  font-size: 16px;
  line-height: 32px;
  margin-top: 36px;
  font-weight: bold;
}

.plan-link:hover,
.plan-link:focus {
  opacity: 0.6;
  transition: .3s;
}

.plan-button {
  margin-top: 36px;
  margin-bottom: 20px;
  width: 200px;
  height: 56px;

  font-size: 16px;
  background-color: #fff;
  border: 1px solid #000;
}
/* おすすめプラン終了 */

/*　ニュース開始 */
.tab-menu {
  display: flex;
  width: 200px;
  margin: 0 auto;

  margin-bottom: 49px;
}

.tab-menu .tab-menu__item{
  width: 150px;
  text-align: center;
}

.tab-trigger {
  padding: 5px 10px;
  box-shadow: 2px 2px;
}

.tab-trigger.is-active {
  background-color: rgb(248, 173, 143);
}

.tab-content__item {
  display:none;
}

.tab-content__item.is-active {
  display:block;
  max-width: 1180px;
  margin: 0 auto;
}

.tab-content__item .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:100%;
  margin: 0 auto;
}

.tab-content__item .container .card {
  width: 570px;
  height: 130px;
  background-color:#f6f6f6;

  margin-bottom:20px;
}

/* お知らせのカード用css開始 */
.card {
  display: flex;
  padding: 15px 10px;
}

.card:hover,
.card:focus {
  opacity: 0.6;
  transition: .3s;
}

.card__img-wrapper {
  width: 100px;
  min-width: 100px;
  height: 100px;
}

.card__body {
  margin-left: 20px;
}

.card__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card__time {
  font-size: 14px;
}

.card__txt {
  font-size: 14px;
  margin-top: 5px;
}
/* お知らせのカード用css終了 */
/*　ニュース終了 */

/* アクセス部開始 */
.access {
  background-image: url("../images/bg.jpg");
}

.access-first {
  display: flex;
  max-width: 1180px;
  margin: 0 auto;
}

.access-first figure {
  height: 100%;
  width: 656px;
}

.access-first figure img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.access-detail {
  margin-left: 50px;
  margin-right: -300px;
}

.access-heading {
  font-size: 16px;
  font-weight: bold;
}

.access-txt {
  font-size: 14px;
  padding: 12px 0;
}

.googlemap {
  text-align: center;
  margin-top: 66px;
}
/* アクセス部終了 */

@media screen and (max-width: 1025px) {

  .detail-txts {
    margin-left: 20px;
  }

  .detail-content:nth-child(even) .detail-txts {
    margin-right: 0;
    margin-left:10px;
  }

  .plan .contents-wrapper {
    max-width: 1000px;
  }

  .plan-card {
    width: 300px;
  }

  .plan-button {
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom:20px;
    display: block;
  }

  .tab-content__item.is-active {
    display:block;
    max-width: 1000px;
    margin: 0 auto;
  }

  .tab-content__item .container .card {
    width: 480px;
  }

  .access-first .contents-wrapper {
    max-width: 1000px;
  }

  .access-detail {
    margin-left: 20px;
    margin-right:0;
  }

  .detail .contents-wrapper {
    width: 100%;
    margin-top:0;
  }
  
  .detail-content {
    margin:0;
    width: 100%;
    height: 800px;
    position: relative;
  }
  
  .detail-txts {
    width: 100%;
    margin:0;
    padding: 10px 30px;
    position: absolute;
    top:450px;
  }
  
  .detail-txt {
    margin-top: 15px;
  }
  
  .detail-button {
    margin-top: 20px;
  }
  
  .detail-content:nth-child(even) {
    margin:0;
    position: relative;
    flex-direction: row;
  }
  
  .detail-content:nth-child(even) .detail-txts{
    margin:0;
  }
  
  .detail-content figure {
    position: absolute;
  
    width: 100%;
    height: 450px;
    margin: 0 auto;
  
    overflow: hidden;
  
    z-index: -1;
  }
  
  .detail-content figure img {
    overflow: hidden;
    width: 100%;
    height: 450px;
    /* opacity: 0.4; */
  }
}

@media screen and (max-width: 769px) {

  /* メインビジュアル開始 */
.mainvisual {
  position: relative;
  max-height: 700px;
}

.mainvisual .bx-wrapper {
  position: absolute;
  width: 100%;
  max-height: 700px;
  z-index: 1;
}

.mainvisual .bx-wrapper img {
  max-height: 700px;
  width: 100%;
}

.mainvisual-title {
  top: 200px;
}

.concept .contents-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.detail-heading {
  font-size: 20px;
  line-height: 30px;
}


.plan-contents {
  display:block;
}

.plan-content {
  width: 750px;
  margin: 0 auto;
}

.plan-card {
  width: 100%;
  height: 680px;
}

.plan-card img{
  height: 450px;
  overflow: hidden;
}

.plan-title {
  font-size: 24px;
  margin-top:15px;
}

.plan-txt {
  margin-top: 20px;
}

.plan-button {
  margin:0;
  margin-top: 30px;
  margin-bottom: 20px;
}

.tab-content__item.is-active {
  max-width: 700px;
  margin: 0 auto;
}

.tab-content__item .container {
  display: block;
}

.tab-content__item .container .card {
  width: 100%;
}

.access-first {
  display: block;
}

.access-first figure {
  width: 656px;
  margin: 0 auto;
}

.access-detail {
  width: 656px;
  margin: 0 auto;
  margin-top:10px;
}

.access-heading {
  font-size: 20px;
}

.access-txt {
  font-size: 16px;
}

.googlemap {
  padding-bottom: 30px;
}

}