.category-concept {
  padding-bottom: 30px;
}

.category-concept .contents-wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.category-concept-txt {
  padding-top: 50px;
  text-align: center;
  line-height: 32px;
}

@media screen and (max-width: 1025px) {
  
} 

@media screen and (max-width: 769px) {
  .category-concept-txt {
    font-size: 14px;
  }
} 

@media screen and (max-width: 426px) {
  .category-concept-txt {
    padding-top:20px;
  }

  .category-concept-txt {
    font-size: 12px;
  }
} 

@media screen and (max-width: 376px) {
  
} 

@media screen and (max-width: 321px) {

} 