@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* Common */
html {
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 2.0;
  letter-spacing: 0.1em;
}

h1 {
  font-family: "游ゴシック", "Yu Gothic";
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 36px;
  font-weight: bold;
}

h1,h2{
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
  padding: 0;
  font-family: "游ゴシック", "Yu Gothic";
  font-weight: Medium;
}

.medium {
  font-family: "游ゴシック", "Yu Gothic";
  font-size: 16px;
  font-weight: medium;
}

.buttton {
  font-family: "游ゴシック", "Yu Gothic";
  font-size: 14px;
  font-weight: medium;
}

img {
  width: 100%;
  vertical-align: bottom;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

a { 
  color:#000;
  text-decoration: none; 
}

a:hover { 
  transition: all .6s ease;
}

.contents-wrapper {
  width: 1280px;
  margin: 0 auto;
}

section h2 {
  font-size: 2rem;
}

.btn {
  font-family: "游ゴシック", "Yu Gothic";
  font-weight: Medium;
  font-size:14px;

  color: #fff; /* 文字色 */
  background-color: #5d3c28;
  padding: 27px 96px; /* 上下の余白、左右の余白 */
  text-decoration: none; /* デフォルトで入るリンクの下線を消す */
  width:240px;
  height:65px;
}

.center {
  text-align: center;
}
/* Common終了 */

/* ヘッダ */
.header {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack:justify;
  -webkit-justify-content: space-between;
  justify-content:space-between;
  align-items: center;
  height: 100px;
}

.header #pc_navi ul {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  align-items: center;
  margin-right: 160px;
  
  vertical-align: center;
}

.header #pc_navi ul li {
  padding: 0;
}

.header #pc_navi ul li a{
  margin-left:55px;
}

.header h1 {
  margin-left: 165px;
  color: #5d3c28;
}

/* ヘッダ(ハンバーガー) */
#hamburger nav ul{
  margin-right: 160px;
}

#hamburger nav ul li{
display:inline-block;
font-size: 16px;
margin-left: 55px;
padding-bottom: 13px;
}

#hamburger nav ul li a{
color: #000;
}

/* ヘッダ(ハンバーガー)終了 */
/* ヘッダ終了 */

/* メインビジュアル */
.mainvisual {
  height: 800px;
  position: relative;
}

.mainvisual h1 {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left: 8%;

  color: #fff;
  z-index: 1;
}

.mainvisual img {
  position: absolute;
  height: 100%;
  z-index: -1;

  object-fit: cover;
  object-position: 50%;
}
/* メインビジュアル終了 */

/* 会社概要 */
.about {
  margin-top: 164px;
}

.about h2 {
  color: #5d3c28;
  text-align: center;
  margin-bottom: 52px;
}

.about p {
  width: 800px;
  margin: 0 auto;
}
/* 会社概要終了 */

/* メニュー */
.menu {
  margin-top: 286px;
}

.menu h2 {
  color: #5d3c28;
  text-align: center;
  margin-bottom: 52px;
}

.menu .contents-wrapper ul {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack:justify;
  -webkit-justify-content: space-between;
  justify-content:space-between;
  align-items: center;
}

.menu .contents-wrapper ul li {
  width: 400px;
}

.menu .contents-wrapper ul h2 {
  font-size: 24px;
  text-align: left;
  margin-bottom: 18px;
}
/* メニュー終了 */

/* 内観 */
.looks {
  margin-top: 276px;
}

.looks h2 {
  color: #5d3c28;
  text-align: center;
  margin-bottom: 59px;
}

.looks .contents-wrapper ul {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack:justify;
  -webkit-justify-content: space-between;
  justify-content:space-between;
  align-items: center;
}

.looks .contents-wrapper ul li {
  width: 615px;
}

.looks .contents-wrapper ul li h2 {
  font-size: 24px;
  text-align: left;
  margin-bottom: 18px;
}

.looks .contents-wrapper ul li p{
  margin-bottom: 29px;
}

.looks .upper {
  margin-bottom: 77px;
}

.looks .contents-wrapper .btn-wrapper {
  text-align: right;
}
/* 内観終了 */

/* ニュース */
.news {
  padding-top: 119px;
  padding-bottom: 120px;
  margin-top: 162px;
  background-color: #fcf5f1;
}

.news h2 {
  color: #5d3c28;
  text-align: center;
  margin-bottom: 40px;
}

.news .contents-wrapper .content {
  margin: 0 auto;
}

.news .contents-wrapper .content th {
  padding: 21px 79px 21px 0;
  color: #8c8c8c;
  font-size: 14px;
  font-family: "游ゴシック", "Yu Gothic";
  font-weight: Medium;
}

.news .contents-wrapper .content td {
  padding: 21px 0 21px 0;
  font-family: "游ゴシック", "Yu Gothic";
  font-weight: Medium;
}

.news .contents-wrapper .center {
  margin-top: 82px;
}
/* ニュース終了 */

/* フッタ */
.footer {
  height: 649px;
}

.footer .contents-wrapper {
  height: 569px;
  display: relative;
}

.footer h2 {
  color: #5d3c28;
  margin-top:100px;
  margin-bottom: 22px;
}

.footer .copylight {
  height: 80px;
  background-color: #000;
  font-weight: light;
  font-size: 12px;
  color: #fff;

  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center;     /*上下中央揃え*/
}

.footer .contents-wrapper .info_map{
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack:justify;
  -webkit-justify-content: space-between;
  justify-content:space-between;
}

.footer .contents-wrapper .info {
  vertical-align: middle;
}

.footer .contents-wrapper .info ul{
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-justfy-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-top: 38px;
}

.footer .contents-wrapper .info img {
  height:35px;
  width:35px;
  padding-right: 20px;
}

.footer .contents-wrapper .map {
  display: inline-block;
  top:0;
  right:100px;
  height: 447px;
  width: 598px;
}
/* フッタ終了 */


@media screen and (max-width: 1199px) {

  .contents-wrapper {
    width: 335px;
  }

  h2 {
    font-size: 22px;
  }

  /* ヘッダ */
  .header h1 {
    margin-left: 18px;
  }

  /* ヘッダ(ハンバーガー) */
  #hamburger nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 100px;
    background:#deb887;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2;
  }

  #hamburger nav ul li {
    display:block;
  }
 
  #hamburger nav ul li a {
    text-decoration: none;
    color: #000;
  }
 
  #hamburger .btn-gnavi {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms
  }
 
  #hamburger .btn-gnavi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #666;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms
  }
 
  #hamburger .btn-gnavi span:nth-child(1) {
    top: 0
  }
 
  #hamburger .btn-gnavi span:nth-child(2) {
    top: 10px
  }
 
  #hamburger .btn-gnavi span:nth-child(3) {
    top: 20px
  }
 
  #hamburger .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }
 
  #hamburger .btn-gnavi.open span {
    background: #fff
  }
 
  #hamburger .btn-gnavi.open span {
    width: 24px;
  }

  #hamburger .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 6px #666;
  }
 
  #hamburger .contents section:nth-child(odd) p {
    left: 10%
  }
 
  #hamburger .contents section:nth-child(even) p {
    right: 10%
  }
  /* ヘッダ(ハンバーガー)終了 */
  /* ヘッダ終了 */

  /* メインビジュアル */
  .mainvisual {
    height: 350px;
    position: relative;
  }

  .mainvisual h1 {
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%,-50%);
    width: 320px;
    font-size: 24px;
  }

  .mainvisual img {
    object-fit: cover;
    object-position: 50%;
  }
  /* メインビジュアル終了 */

  /* 会社概要 */
  .about {
    height: 723px;
    margin:0;
  }

  .about h2 {
    margin-top: 59px;
    margin-bottom:41px;
  }

  .about p {
    width: 335px;
    margin:0 auto;
  }
  /* 会社概要終了 */

  /* メニュー */
  .menu {
    height: 1415px;
    margin: 0;
    background-color: #fcf5f1;
  }

  .menu h2 {
    padding-top: 52px;
  }

  .menu .contents-wrapper ul {
    display: block;
  }

  .menu .contents-wrapper ul li {
    width: 335px;
    margin:0 auto;
  }

  .menu .contents-wrapper ul li h2 {
    margin: 18px auto;
    padding: 0;
    font-size: 18px;
  }

  .menu .contents-wrapper ul li p {
    margin-bottom: 35px;
    padding: 0;
    font-size: 16px;
    line-height:1.2;
  }
  /* メニュー終了 */

  /* 内観 */
  .looks {
    margin:0;
    height: 1677px;
  }

  .looks h2 {
    margin:0;
    padding-top: 58px;
    padding-bottom: 39px;
  }

  .looks .contents-wrapper .upper, 
  .looks .contents-wrapper .lower {
    display: block;
  }

  .looks .contents-wrapper ul li {
    width: 335px;
    margin:0 auto;
  }

  .looks .contents-wrapper ul li h2 {
    font-size: 18px;
    padding-top:20px;
    padding-bottom:21px;
    margin: 0;
  }

  .looks .contents-wrapper ul li p {
    padding-bottom: 40px;
    margin: 0 ;
    font-size: 16px;
    line-height:1.7;
  }

  .looks .contents-wrapper .btn-wrapper {
    text-align: center;
  }

  /* 説明と図を逆転 */
  .looks .contents-wrapper .lower {
    display:-webkit-box; 
    display: -webkit-flex;
    display:-ms-flexbox;
    display: flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
  }

  .looks .contents-wrapper .lower .info{
    -webkit-box-ordinal-group:2;
    -ms-flex-order:2;
    -webkit-order:2;  
    order:2;
  }

  .looks .contents-wrapper .lower .image{
    -webkit-box-ordinal-group:1;
    -ms-flex-order:1;
    -webkit-order:1;  
    order:1;
  }
  /* 説明と図を逆転 */
  /* 内観終了 */

  /* ニュース */
  .news {
    height: 821px;
    margin: 0;
    padding: 0;
  }

  .news .contents-wrapper table {
    width: 335px;
  }

  .news h2 {
    margin:0;
    padding-top: 27px;
    padding-bottom: 40px;
  }

  .news .contents-wrapper .content th {
    display: block;
    width: 335px;
    padding-top: 0;
    padding-bottom: 5px;
    text-align: left;
    letter-spacing: -0.5px;
  }

  .news .contents-wrapper .content td {
    display: block;
    width: 335px;
    padding-top: 0;
    padding-bottom: 15px;
    border-bottom: solid 0.3px #8c8c8c;
    line-height:1.3;
    letter-spacing: -1px;
  }
  /* ニュース終了 */

  /* フッタ */

  .footer {
    height: 663px;
  }

  .footer h1 {
    margin:0;
    padding:0;
    text-align: center;
    width: 335px;
  }

  .footer p {
    text-align: center;
    font-size: 14px;
  }

  .footer .contents-wrapper .info_map {
    display:-webkit-box; 
    display: -webkit-flex;
    display:-ms-flexbox;
    display: flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    width: 335px;
  }

  .footer .contents-wrapper .info_map .map{
    -webkit-box-ordinal-group:1;
    -ms-flex-order:1;
    -webkit-order:1;  
    order:1;
    height: 252px;
  }

  .footer .contents-wrapper .info_map .info{
    -webkit-box-ordinal-group:2;
    -ms-flex-order:2;
    -webkit-order:2;  
    order:2;
    margin:0;
    padding:0;
  }

  .footer .contents-wrapper .info ul {
    justify-content: center;
  }


  /* フッタ終了 */
}