@charset "UTF-8";

/* Common */
html {
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-family: "Noto Sans JP", sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
 }


img {
  width: 100%;
  vertical-align: bottom;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,ol,li,dl,dt,dd,p {
  margin:0;
  padding:0;
  list-style: none;
}

a { 
  color:#000;
  text-decoration: none; 
}

a:hover { 
  transition: all .6s ease;
}

.contents-wrapper {
  width:1280px;
  margin: 0 auto;
}
/* Common終了 */

.header {
  background-image: url("../images/bg_header_pink-4704d42ed44908fb061e80afc515a93ab2fcbfd605c2580de486a4d980b2115a.jpg");
  background-size: cover ;
  /* 横一杯にする bottom */
  background-position: center bottom;
  height: 100vh;
  
  position: relative;
}

.header .header-logo {
  height:130px;
  width:130px;
  margin: 0 auto;
  margin-top: 15vh;
  animation: fadeIn 2.0s ease 0s 1 normal;
}

.header .header-catch {
  color:white;
  text-align: center;
  margin-top:3vh;
  font-size: 20px;
  animation: fadeIn 2.0s ease 0s 1 normal;
}

.header .container {
  position: absolute;
  bottom:5vh;
  left:50%;
  transform: translateX(-50%);
  width:35%;
  display: flex;
  flex-flow: row wrap;
}

.header .container .dl {
  display: flex;
  margin: 0 auto;
  width: 400px;
}

.header .container .dl .applestore {
  width:200px;
  height:50px;
  padding:15px;
  margin-bottom:70px;
  animation: fadeIn 2.0s ease 0s 1 normal;
}

.header .container .dl .googleplay {
  width:200px;
  height:50px;
  padding:15px;
  margin-bottom:70px;
  animation: fadeIn 2.0s ease 0s 1 normal;
}

.header .container .attention {
  width:100%;
  color:white;
  font-size:13px;
  text-align: center;
  animation: fadeIn 2.0s ease 0s 1 normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.service {
  height:80vh;
}

.service .subtitle {
  font-size: 24px;
  color:#fff;
  font-weight: 400px;
  font-style: normal;
  padding:50px 40px 10px 40px;
}

.service .desc {
  font-size: 15px;
  color:#fff;
  font-weight: 400px;
  font-style: normal;
  /* padding-top:40px; */
  padding-right:40px;
  padding-left:40px;
}

.service ol {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack:justify;
  -webkit-justify-content: space-between;
  justify-content:space-between;
  align-items: center;
  height:100%;
  width:100%;
}

.service ol .feature-column1 {
  background-image: url("../images/bg_service01-01ee576583ddad054106d9f2dc78caf78be6c829383351a4fbc99ac5a566020a.jpg");
  background-size: cover ;
  /* 横一杯にする bottom */
  background-position: center bottom;
  height:100%;
  width : calc(100% / 3) ;
}

.service ol .feature-column2 {
  background-image: url("../images/bg_service02-cd59d8cd17b05503a9fc3eeae42d618d0cc19b2277b581f5db275d5dde09e94d.jpg");
  background-size: cover ;
  /* 横一杯にする bottom */
  background-position: center bottom;
  height:100%;
  width : calc(100% / 3) ;
}

.service ol .feature-column3 {
  background-image: url("../images/bg_service03-4c44f872ed6f7ed3007faeb109b1e03ceabcdb3106ba54392a5457a159a0f2ab.jpg");
  background-size: cover ;
  /* 横一杯にする bottom */
  background-position: center bottom;
  height:100%;
  width : calc(100% / 3) ;
}

.price {
  height:590px;
}

.price ol {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack:justify;
  -webkit-justify-content: space-between;
  justify-content:space-between;
  align-items: center;
  height:100%;
  width:100%;
}

.price ol .price-column1 {
  background-color: #F5F5F5;
  height:100%;
  width : calc(100% / 2) ;
}

.price ol .price-column1 .title {
  font-size: 20px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 10px;
}

.price ol .price-column1 .first {
  width: 150px;
  margin: 0 auto;
}

.price ol .price-column1 .first-flower {
  width: 200px;
  margin: 0 auto;
}

.price ol .price-column1 .price-booque {
  width: 400px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: bold;
  padding:20px 0;
}

.price ol .price-column1 .price-booque p {
  text-align: center;
}

.price ol .price-column1 .price-booque .big {
  font-size: 20px;
}

.price ol .price-column1 .price-booque .big span{
  font-size: 15px;
}

.price ol .price-column1 .price-attention {
  width: 400px;
  margin: 0 auto;
  font-size: 15px;
}

.price ol .price-column1 .price-attention p {
  text-align: center;
}

.price ol .schedule-column2 {
  background-color: #ffffff;
  height:100%;
  width : calc(100% / 2) ;
}

.price ol .schedule-column2 .title {
  font-size: 20px;
  text-align: center;
  padding-top: 170px;
  padding-bottom: 30px;
}

.price ol .schedule-column2 .calendar {
  width: 170px;
  margin: 0 auto;
}

.flower {
  height:830px;
  padding:0 5%;
  background-color:#EAD5DC;
}

.flower .container {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  width: 100%;
}

.flower .container .title {
  order:2;
  font-size: 26px;
  text-align: center;
  padding-top: 170px;
  padding-bottom: 130px;
  width: 50%;
}

.flower .container .img{
  order:1;
  background-image: url("../images/bg_flower-1a07674a0e731b035e9344d0b0ec772eb116759368da38dc0b21bec925479009.jpg");
  height: 100%;
  width: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.flower .container .content{
  order:3;
  width: 50%;
  text-align: center;
}

.flower .container .content .subtitle {
  font-size: 20px;
  margin-top:10px;
  margin-bottom:10px;
}

.flower .container .content p {
  font-size: 15px;
  width: 60%;
  margin:0 auto;
  margin-bottom:30px;
  text-align: left;
}

.vase {
  height:840px;
  background-color:#E7E3DF;
}

.vase .container {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  width: 100%;
}

.vase .container .title {
  font-size: 26px;
  text-align: center;
  margin-top: 100px;
  width:50%;
}

.vase .container .first {
  order:2;
  display: inline-block;
  font-size: 14px;
  text-align: center;

  background-color: #fff;
  padding:5px;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 80px;
  /* width:20%; */
}

.vase .container .content {
  order:3;
  /* font-size: 15px; */
  text-align: center;
  width:50%;
}

.vase .container .content  .desc {
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  width:45%;
  margin:0 auto;
}

.vase .container .content .image-container {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin: 0 auto;
  margin-top: 30px;
}

.vase .container .content .image-container .vaseimg {
  width:12vh;
  background-size: contain;
  height: 15vh;
  /* margin:20px; */

  position: relative;
}

.vase .container .content .image-container .bell {
  background-image: url("../images/vase_bell-3242683261f661614798b85f339c955bd9a56d231773730ffd7a0ab8028747e2.jpg");
  background-size: cover;
}

.vase .container .content .image-container p {
  position: absolute;
  bottom:4px;
  text-align: center;
  width:100%;
  font-size: 13px;
}

.vase .container .content .image-container .moon {
  background-image: url("../images/vase_moon-6ef8eca3a0e8166d7a28acda51109e2050ee74ed94a839638ac1f954223647fb.jpg");
  background-size: cover;
}

.vase .container .content .image-container .candle {
  background-image: url("../images/vase_candle-ca20f4ad96c7cbfe245a497dc9aa0875a4bcc5c8a14056e8297096bb720d4bdd.jpg");
  background-size: cover;
}

.vase .container .img{
  order:7;
  background-image: url("../images/bg_vase-45bcc89846e1a077353f799e42054251c3e3e570fcc453b8d96282d5df1ad6db.jpg");
  height: 100%;
  width: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.vase .container .title {
  order:1;
  width: 50%;
}

.vase .container .content .desc {
  order:2;
  width: 55%;
}

.vase .container .image-container {
  display: flex;
  width: 55%;
}

.vase .container .price-container {
  display: flex;
  width:55%;
  height:50px;
  margin:0 auto;
  margin-top: 30px;
}

.vase .container .price-container .period {
  width:14vh;
  margin: 0 16px 0 0;
  padding: 4px;
  border: 2px solid;
  font-size:14px;
  font-weight: 700;
}

.vase .container .price-container .content {
  width: 80%;
}


.vase .container .price-container .discount-price {
  margin-left:15px;
  text-align: left;
  font-size: 18px;
}

.vase .container .price-container .normal-price {
  margin-left:15px;
  text-align: left;
  font-size:13px;
}

.vase .container .content .buy {
  width:55%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
}

.service2 {
  height:370px;
}

.download {
  height:280px;
  background-color: #7a7a7a;
}

.footer {
  height:270px;
}