@charset "UTF-8";

/* Common */
html {
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 2.0;
  letter-spacing: 0.1em;
}

@font-face {
  font-family: 'Felix Tilting MT';
  src: url(https://themes.googleusercontent.com/static/fonts/kaushanscript/v1/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}

h1 {
  margin:0;
  padding:0;
  font-size: 36px;
  font-family: "Felix Tilting MT";
}

h2 {
  margin:0;
  padding:0;
  font-size: 36px;
  font-family: "Felix Tilting MT";
}


h3 {
  margin:0;
  padding:0;
  font-size: 30px;
  font-weight:Medium;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
}

p {
  margin:0;
  padding:0;
  font-size: 16px;
  font-weight:Medium;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
}

.button {
  margin:0;
  padding:0;
  font-size: 16px;
  font-weight:Bold;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
}

.copylight {
  margin:0;
  padding:0;
  font-size: 12px;
  font-weight:Medium;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
}


*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
 }


img {
  width: 100%;
  vertical-align: bottom;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,ol,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

a { 
  color:#000;
  text-decoration: none; 
}

a:hover { 
  transition: all .6s ease;
}

.contents-wrapper {
  width:1280px;
  margin: 0 auto;
}
/* Common終了 */

/* ヘッダ */
.header {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack:justify;
  -webkit-justify-content: space-between;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 1;
}

.header h1{
  margin-top: 10px;
  margin-left: 161px;
  position: relative;
}

.header h1:before {
  content:"WEB CREATOR & ENGINEER";
  font-family: "Calibli";
  font-size:12px;
  font-weight: 400;

  display: block;
  position:absolute;
  width: 400px;
  left:0;
  top:-2px;
}

.header #globalnavi ol {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  align-items: center;
  margin-right: 160px;
  
  vertical-align: center;
}

.header #globalnavi ol li {
  padding: 0;
}

.header #globalnavi ol .inpage a{
  margin-right:50px;
  font-family: "Yu Gothic";
  position: relative;
}

/* ホバーしたら下線 */
.header #globalnavi ol .inpage a:after{
  position: absolute;
  bottom: -5px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}

.header #globalnavi ol .inpage a:hover:after{
  transform: scale(1, 1);
}

.header #globalnavi ol .sns a{
  margin-right:30px;
}
/* ヘッダ終了 */

/* メインビジュアル */
.mainvisual {
  position: relative;
  height: 860px;
  width: 100%;
}

.mainvisual img {
  width: 75%;
  height: 850px;
  position: absolute;
  right:0;
  object-fit: cover;
  object-position: 20% 60%;
}

.mainvisual h2 {
  position: absolute;
  top: 30%;
  left: 15%; 
  z-index: 1;
  font-size: 4vw;
  color: #000;

  font-weight: normal;
  font-size: 80px;
}

.mainvisual h2:after {
  content:"WEB CREATOR & ENGINEER";
  font-family: "Calibli";
  font-size:16px;
  font-weight: 400;

  display: block;
  position:absolute;
  width: 400px;
  left:0;
  top:120px;
}

.mainvisual a {
  position: absolute;
  font-family: "Calibli";
  font-size:16px;
  font-weight: 400;

  top: 70%;
  left: 13%; 
  transform: rotate(0.25turn);
  margin: 0;
}

.mainvisual a::after {
  content:"";
  display:block;
  width:150px;
  height:0.5px;
  background: #000;
  position:absolute;
  top:35%;
  left:100px;
  animation: SSS 3s cubic-bezier(0.87, 0, 0.13, 1) infinite;
}

@keyframes SSS {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
/* メインビジュアル終了 */

/* about */
.about {
  display: block;
  height: 850px;
  margin:0;
  padding:0;
}

.about .contents-wrapper .content {
  position: relative;
  height: 650px;
}

.about .contents-wrapper h2 {
  text-align: center;
  margin-top:151px;
  margin-bottom:92px;
}

.about .contents-wrapper h2::after {
  content:"私について";
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-size:16px;
  font-weight: 400;

  display: block;
  text-align: center;
  margin: 0 auto;
}

.about .contents-wrapper .box {
  position: absolute;
  width: 56%;
  height: 650px;
  background-color: #e4e4e4;
  z-index: -1;
}

.about .contents-wrapper p {
  width: 60%;
  height: 436px;
  padding: 52px 49px;
  background-color: #fafafa;
  z-index: 1;

  position: absolute;
  right:0;
  top: 107px;
}
/* about終了 */


/* service */
.service {
  display: block;
  height: 600px;
  margin:0;
  padding:0;
}

.service .contents-wrapper h2 {
  text-align: center;
  margin-top:151px;
  margin-bottom:92px;
}

.service .contents-wrapper h2::after {
  content:"こんなお手伝いが出来ます！";
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-size:16px;
  font-weight: 400;

  display: block;
  text-align: center;
  margin: 0 auto;
}

.service .contents-wrapper .content ol {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack:justify;
  -webkit-justify-content: space-between;
  justify-content:space-between;
  align-items: center;
}

.service .contents-wrapper .content ol li {
  width: 410px;
}

.service .contents-wrapper .content ol li h3{
  color: #808080;
  text-align: center;
}

.service .contents-wrapper .content ol li img {
  height:113px;
  width:113px;
  margin: 30px 150px 42px;
}

.service .contents-wrapper .content ol li .explanation {
  font-weight: 400;
  font-size: 16px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
}
/* service終了 */

/* works */
.works {
  display: block;
  height: 950px;
  margin:0;
  padding:0;
}

.works .contents-wrapper h2 {
  text-align: center;
  margin-top:151px;
  margin-bottom:92px;
}

.works .contents-wrapper h2::after {
  content:"作ったもの";
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-size:16px;
  font-weight: 400;

  display: block;
  text-align: center;
  margin: 0 auto;
}

.works .contents-wrapper .content table  {
  width: 100%;
}
.works .contents-wrapper .content table .work {
  background-color: #e5e5e5;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
/* works終了 */

/* skill */
.skill {
  height: 1349px;
}

.skill .contents-wrapper .contents{
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack:justify;
  -webkit-justify-content: space-between;
  justify-content:space-between;
}

.skill .contents-wrapper .content1 {
  position: relative;
  height:1349px;
  width: 480px;
}

.skill .contents-wrapper .content2 {
  position: relative;
  height:1349px;
  width: 800px;
}

.skill .contents-wrapper .content1 h2{
  position: absolute;
  width: 300px;
  left: 40%;
  top: 300px;
  transform: rotate(0.25turn);
}

.skill .contents-wrapper .content1 h2::after {
  content:"スキルについて";
  font-family: "Calibli";
  font-size:16px;
  font-weight: 400;

  width:30px;
  position: absolute;
  top:30%;
  left:45%;
  transform: rotate(-0.25turn);
} 
.skill .contents-wrapper .content1 img{
  position: absolute;
  width: 480px;
  height: 850px;

  left: -66%;
  z-index: 0;
}
/* skill終了 */

/* フッタ */
/* フッタ終了 */