@charset "UTF-8";

/* Common */
html {
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 2.0;
  letter-spacing: 0.1em;
}

@font-face {
  font-family: 'Felix Tilting MT';
  src: url(https://themes.googleusercontent.com/static/fonts/kaushanscript/v1/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}

h1 {
  margin:0;
  padding:0;
  font-size: 36px;
  font-family: "Felix Tilting MT";
}

h2 {
  margin:0;
  padding:0;
  font-size: 36px;
  font-family: "Felix Tilting MT";
}


h3 {
  margin:0;
  padding:0;
  font-size: 30px;
  font-weight:Medium;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
}

p {
  margin:0;
  padding:0;
  font-size: 16px;
  font-weight:Medium;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
}

button {
  margin:0;
  padding:0;
  font-size: 16px;
  font-weight:Bold;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
}

.copylight {
  margin:0;
  padding:0;
  font-size: 12px;
  font-weight:Medium;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
}


*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
 }


img {
  width: 100%;
  vertical-align: bottom;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,ol,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

a { 
  color:#000;
  text-decoration: none; 
}

a:hover { 
  transition: all .6s ease;
}

.contents-wrapper {
  width:1280px;
  margin: 0 auto;
}
/* Common終了 */

/* ヘッダ */
.header {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack:justify;
  -webkit-justify-content: space-between;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  z-index: 1;
}

.header h1{
  margin-top: 10px;
  margin-left: 161px;
  position: relative;
}

.header h1:before {
  content:"WEB CREATOR & ENGINEER";
  font-family: "Calibli";
  font-size:12px;
  font-weight: 400;

  display: block;
  position:absolute;
  width: 400px;
  left:0;
  top:-2px;
}

.header #globalnavi ol {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  align-items: center;
  margin-right: 160px;
  
  vertical-align: center;
  z-index: 1;
}

.header #globalnavi ol li {
  padding: 0;
}

.header #globalnavi ol .inpage a{
  margin-right:50px;
  font-family: "Yu Gothic";
  position: relative;
}

/* ホバーしたら下線 */
.header #globalnavi ol .inpage a:after{
  position: absolute;
  bottom: -5px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}

.header #globalnavi ol .inpage a:hover:after{
  transform: scale(1, 1);
}

.header #globalnavi ol .sns a{
  margin-right:30px;
}
/* ヘッダ終了 */

/* メインビジュアル */
.mainvisual {
  position: relative;
  height: 860px;
  width: 100%;
}

.mainvisual img {
  width: 75%;
  height: 850px;
  position: absolute;
  right:0;
  object-fit: cover;
  object-position: 20% 60%;
}

.mainvisual h2 {
  position: absolute;
  top: 30%;
  left: 15%; 
  z-index: 1;
  font-size: 4vw;
  color: #000;

  font-weight: normal;
  font-size: 80px;
}

.mainvisual h2:after {
  content:"WEB CREATOR & ENGINEER";
  font-family: "Calibli";
  font-size:16px;
  font-weight: 400;

  display: block;
  position:absolute;
  width: 400px;
  left:0;
  top:120px;
}

/* スクロールバー */
.mainvisual a {
  position: absolute;
  font-family: "Calibli";
  font-size:16px;
  font-weight: 400;

  top: 70%;
  left: 13%; 
  transform: rotate(0.25turn);
  margin: 0;
}

.mainvisual a::after {
  content:"";
  display:block;
  width:100px;
  height:0.5px;
  background: #000;
  position:absolute;
  top:45%;
  left:130px;
  animation: SSS 3s cubic-bezier(0.87, 0, 0.13, 1) infinite;
}

@keyframes SSS {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

.mainvisual .sp-copy {
  display: none;
}
/* メインビジュアル終了 */

/* about */
.about {
  display: block;
  height: 850px;
  margin:0;
  padding:0;
}

.about .contents-wrapper .content {
  position: relative;
  height: 650px;
}

.about .contents-wrapper h2 {
  text-align: center;
  margin-top:151px;
  margin-bottom:92px;
}

.about .contents-wrapper h2::after {
  content:"私について";
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-size:16px;
  font-weight: 400;

  display: block;
  text-align: center;
  margin: 0 auto;
}

.about .contents-wrapper .box {
  position: absolute;
  width: 56%;
  height: 650px;
  background-color: #e4e4e4;
  z-index: -1;
}

.about .contents-wrapper p {
  width: 60%;
  height: 436px;
  padding: 52px 49px;
  background-color: #fafafa;
  z-index: 0;

  position: absolute;
  right:0;
  top: 107px;
}

.about .content-wrapper .content img {
  object-fit: cover;
  
}
/* about終了 */


/* service */
.service {
  display: block;
  height: 600px;
  margin:0;
  padding:0;
}

.service .contents-wrapper h2 {
  text-align: center;
  margin-top:151px;
  margin-bottom:92px;
}

.service .contents-wrapper h2::after {
  content:"こんなお手伝いが出来ます！";
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-size:16px;
  font-weight: 400;

  display: block;
  text-align: center;
  margin: 0 auto;
}

.service .contents-wrapper .content ol {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack:justify;
  -webkit-justify-content: space-between;
  justify-content:space-between;
  align-items: center;
}

.service .contents-wrapper .content ol li {
  width: 410px;
}

.service .contents-wrapper .content ol li h3{
  color: #808080;
  text-align: center;
}

.service .contents-wrapper .content ol li img {
  height:113px;
  width:113px;
  margin: 30px 150px 42px;
}

.service .contents-wrapper .content ol li .explanation {
  font-weight: 400;
  font-size: 16px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
}
/* service終了 */

/* works */
.works {
  display: block;
  height: 950px;
  margin:0;
  padding:0;
}

.works .contents-wrapper h2 {
  text-align: center;
  margin-top:151px;
  margin-bottom:92px;
}

.works .contents-wrapper h2::after {
  content:"作ったもの";
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-size:16px;
  font-weight: 400;

  display: block;
  text-align: center;
  margin: 0 auto;
}

.works .contents-wrapper .content table  {
  width: 100%;
}
.works .contents-wrapper .content table .work {
  background-color: #e5e5e5;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: hidden;
}

.works .contents-wrapper .content table .work .no1:hover {
  opacity: 0.7;
}

/* works終了 */

/* skill */
.skill {
  height: 1349px;
}

.skill .contents-wrapper .contents{
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack:justify;
  -webkit-justify-content: space-between;
  justify-content:space-between;
}

.skill .contents-wrapper .content1 {
  position: relative;
  height:1349px;
  width: 480px;
}

.skill .contents-wrapper .content2 {
  position: relative;
  height:1349px;
  width: 800px;
}

.skill .contents-wrapper .content1 h2{
  position: absolute;
  width: 400px;
  left: 300px;
  top: 200px;
  writing-mode: vertical-lr;
}

.skill .contents-wrapper .content1 h2::after {
  content:"スキルについて";
  font-family: "Calibli";
  font-size:16px;
  font-weight: 400;

  width:30px;
  height: 300px;
  position: absolute;
  top:130px;
  left:17px;

  writing-mode: vertical-lr;
  
} 
.skill .contents-wrapper .content1 img{
  position: absolute;
  width: 480px;
  height: 850px;

  left: -66%;
  z-index: 0;
}

.skill .contents-wrapper .content2 p {
  margin-top: 180px;
  width: 545px;
  height: 480px;
}

.skill .contents-wrapper .content2 img {
  width: 800px;
  height: 415px;
}
/* skill終了 */

/* contact */
.contact {
  height: 1000px;
  background-color: #e5e5e5;
}

.contact h2 {
  padding-top:120px;
  padding-bottom:70px;
  text-align: center;
}

.contact h2::after {
  content:"お問い合わせ";
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-size:16px;
  font-weight: 400;

  display: block;
}

.contact .contents-wrapper input {
  height: 70px;
  width: 100%;
  border:none;
  margin-bottom: 50px;
  padding-left:20px;
}

.contact .contents-wrapper textarea {
  height: 280px;
  width: 100%;
  border:none;
  margin-bottom: 70px;
  padding-left:20px;
  padding-top:25px;
}

.contact .contents-wrapper .button-wrapper {
  text-align: center;

}

.contact .contents-wrapper button {
  height: 65px;
  width: 220px;

  background-color: #000;
  color:#fff;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-size:16px;
  font-weight: 400;

  position: relative;
}

.contact .contents-wrapper button::after {
  content:"";
  background-color: #fff;
  height: 1px;
  width: 40px;
  display: block;
  position: absolute;
  top:50%;
  right:0;

}
/* contact終了 */

/* フッタ */
footer {
  background-color: #000;
}

footer ol {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack:justify;
  -webkit-justify-content: space-between;
  justify-content:space-between;
}

footer .copyright {
  height: 80px;
  color: #fff;
  position: relative;
}

footer .copyright p {
  width: 300px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

footer .sns .icon-wrapper{
  width:100px;
  height: 80px;
  color:#fff;
  position: relative;
  position: relative;
}

footer .sns .icon-wrapper .fa-twitter::before {
  position: absolute;
  top:35px;
  left:50%;
  transform: translateX(-50%);

}
/* フッタ終了 */

@media screen and (max-width: 899px) {

.contents-wrapper {
  width: 335px;
}

.header {
  position: fixed;
}

.header h1{
  margin:0;
}  

.header h1:before {
  display: none;
}

/* ヘッダ(ハンバーガー) */
#hamburger nav {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  padding-top: 100px;
  background:#deb887;
  font-size: 16px;
  box-sizing: border-box;
  z-index: 2;
}

.header #globalnavi ol {
  display: block;
}

#hamburger nav ol li {
  width: 300px;
  border-bottom: dashed;
  display:block;
  margin-top:20px;
  margin-left: 10px;
  padding: 10px 0;
}

#hamburger nav ol li a {
  text-decoration: none;
  color: #000;
}

#hamburger nav ol .sns {
  display: none;
}

#hamburger .btn-gnavi {
  position: fixed;
  top: 35px;
  right: 20px;
  width: 30px;
  height: 24px;
  z-index: 3;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms
}

#hamburger .btn-gnavi span {
  position: absolute;
  width: 30px;
  height: 4px;
  background: #000;
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms
}

#hamburger .btn-gnavi span:nth-child(1) {
  top: 0
}

#hamburger .btn-gnavi span:nth-child(2) {
  top: 10px
}

#hamburger .btn-gnavi span:nth-child(3) {
  top: 20px
}

#hamburger .btn-gnavi.open span:nth-of-type(1){
  -webkit-transform: translateY(10px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
}

#hamburger .btn-gnavi.open span:nth-of-type(2){
  opacity: 0;
}

#hamburger .btn-gnavi.open span:nth-of-type(3){
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
}

#hamburger .btn-gnavi.open span {
  background: #000;
}

#hamburger .btn-gnavi.open span {
  width: 24px;
}

#hamburger .contents section p {
  position: absolute;
  top: 50%;
  width: 30%;
  line-height: 1.4;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 6px #666;
}

/* 下スクロール時だけ消えるヘッダ */
.site-header{
  background: rgba(255,255,255,0.8);
  padding: 20px;
  position: fixed;
  top: 0;
  transition: .5s;
  width: 100%;
  z-index: 999;
}

.site-header.hide{
  transform: translateY(-100%);
}
/* ヘッダ(ハンバーガー)終了 */
/* ヘッダ終了 */

/* メインビジュアル */

.mainvisual {
  width:100%;
  height:450px;
  position: relative;
}

.mainvisual img {
  margin-top:100px;
  height: 350px;
  width:100%;
}

.mainvisual h2{
  display: none;
}

.mainvisual a {
  transform: rotate(0deg);
  background-color: #fafafa;
  top:87%;
  left:73%;

  padding: 10px;
  border-radius: 20px;
}

.mainvisual a:after{
  display:none;
}

.mainvisual .sp-copy {
  display: block;
  position: absolute;
  background-color: #fafafa;
  padding: 20px;
  text-align: center;
  top:45%;
  left:50%;
  transform: translateX(-50%);
  z-index:2;
}
/* メインビジュアル終了 */

.about {
  height: 750px;
}

.about .contents-wrapper {
  height: 100%;
}

.about .contents-wrapper .content {
  height: 550px;
}

.about .contents-wrapper h2 {
  padding:30px;
  margin:0;
}

.about .contents-wrapper .box {
  height:335px;
  width: 335px;
}

.about .contents-wrapper p {
  width:100%;
  top:350px;
  padding:20px;
  height:200px;
}
}